*.a
*.d
*.lx
*.o
*.elf

Makefile.config
kernel/bibo.coff
kernel/bibo.lds
kernel/bibo.srec
util/dll
util/firmdl
util/fontdesign
util/genlds
util/host/fastdl_19200.h
util/host/fastdl_2400.h
util/host/fastdl_38400.h
util/host/fastdl_4800.h
util/host/fastdl_9600.h
util/host/mkimg
util/include/
util/ir-server
util/lnpmsg
util/makelx
xs/lisp/xsout-rcx
xs/xs
xs/xs-host
xs/xs-ir
xs/xs-rcx

